# main-pipeline.yml
trigger:
- '*'

# NOT SURE HOW TO UE THIS section
# resources:
#   repositories:
#     - repository: templates
#       type: git
#       name: YourProject/YourTemplatesRepo

variables:
- group: Release
    #buildConfiguration: $(buildConfiguration)
    #releaseBranchName: 'release'
  


schedules:
- cron: '0 3 * * *'
  displayName: 'Deploy every day at 3 A.M.'
  branches:
    include:
    - release
  always: 'false'

stages:
#- template: pipeline-templates/build-deploy-multienv-template.yml@templates #Use with resources
- template: pipeline-templates/build-deploy-multienv-template.yml
  parameters:
    #buildConfiguration: $(buildConfiguration)
    releaseBranchName: 'release'
    buildConfiguration: 'Release'
    vmImage: 'ubuntu-20.04'
    dotnetSdkVersion: '8.x'
    webAppNameDev: $(WebAppNameDev)
    webAppNameTest: $(WebAppNameTest)
    webAppNameStaging: $(WebAppNameStaging)
    azureSubscription: $(AzureSubscription) #'Resource Manager - Tailspin - Space Game'