# main-pipeline.yml
trigger:
- '*'

# NOT SURE HOW TO UE THIS section
# resources:
#   repositories:
#     - repository: templates
#       type: git
#       name: YourProject/YourTemplatesRepo

variables:
  buildConfiguration: 'Release'
  releaseBranchName: 'release'

schedules:
- cron: '0 3 * * *'
  displayName: 'Deploy every day at 3 A.M.'
  branches:
    include:
    - release
  always: 'false'

stages:
#- template: pipeline-templates/build-deploy-multienv-template.yml@templates #Use with resources
- template: pipeline-templates/build-deploy-multienv-template.yml
  parameters:
    buildConfiguration: $(buildConfiguration)
    releaseBranchName: $(releaseBranchName)
    vmImage: 'ubuntu-20.04'
    dotnetSdkVersion: '6.x'
    webAppNameDev: '$(WebAppNameDev)'
    webAppNameTest: '$(WebAppNameTest)'
    webAppNameStaging: '$(WebAppNameStaging)'
    azureSubscription: 'Resource Manager - Tailspin - Space Game'